body{
    background-color: rgb(52, 52, 68);
}


.cont{
    margin: 20px 120px;   
}

.container{
    background-color: rgb(52, 52, 68);
    color: #fff;
    padding: 20px;
}

nav{
    height: 80px;
    padding: 0px 30px;
}

